.jonas-angelo-clamor-view-collection-of-assessments-list-of-jonas-angelo-clamor-view-collection-of-assessments-list-of{
    width: 100%;
    height: 1080px;
    display: flex;
    position: relative;
    align-items: flex-start;
    border-color: transparent;
    background-size: cover;
    background-image: url("../../Images/Clamor/vivid-blurred-colorful-wallpaper-background.jpg");
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-group40 {
    top: 259px;
    left: 113px;
    width: 619px;
    height: 358px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle6 {
    top: 10px;
    left: 50px;
    width: 619px;
    height: 358px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    background-color: #19A0A6;
    border-radius: 20px;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle6:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle6:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text {
    top: 303.704833984375px;
    left: 213.8818359375px;
    color: rgba(24, 160, 165, 1);
    width: 201px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-group41 {
    top: 259px;
    left: 920px;
    width: 619px;
    height: 358px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle61 {
    top: 10px;
    left: 50px;
    width: 619px;
    height: 358px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    border-color: black;
    background-color: #19A0A6;
    border-radius: 20px;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle61:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle61:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text02 {
    top: 281.704833984375px;
    left: 213.8818359375px;
    color: rgba(25, 160, 166, 1);
    width: 201px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-group42 {
    top: 672px;
    left: 113px;
    width: 619px;
    height: 358px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle62 {
    top: 10px;
    left: 50px;
    width: 619px;
    height: 358px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    background-color: #19A0A6;
    border-radius: 20px;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle62:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle62:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text04 {
    top: 281.704833984375px;
    left: 213.8818359375px;
    color: rgba(24, 160, 165, 1);
    width: 201px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-group43 {
    top: 672px;
    left: 919px;
    width: 619px;
    height: 358px;
    display: flex;
    padding: 0;
    position: absolute;
    align-self: auto;
    box-sizing: border-box;
    align-items: flex-start;
    flex-shrink: 1;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    margin-right: 0;
    border-radius: 0px 0px 0px 0px;
    margin-bottom: 0;
    flex-direction: row;
    justify-content: flex-start;
    background-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle63 {
    top: 10px;
    left: 50px;
    width: 619px;
    height: 358px;
    position: absolute;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
    background-color: #19A0A6;
    border-radius: 20px;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle63:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle63:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text06 {
    top: 281.704833984375px;
    left: 213.8818359375px;
    color: rgba(25, 160, 166, 1);
    width: 201px;
    height: auto;
    position: absolute;
    font-size: 40px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text08 {
    top: 520px;
    left: 225px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text08:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text08:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text10 {
    top: 930px;
    left: 320px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text10:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text10:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text12 {
    top: 945px;
    left: 1135px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text12:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text12:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text14 {
    top: 520px;
    left: 900px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text14:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text14:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text19 {
    top: 560px;
    left: 280px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text19:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text19:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text24 {
    top: 970px;
    left: 275px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text24:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text24:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text29 {
    top: 980px;
    left: 1090px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text29:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text29:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text34 {
    top: 580px;
    left: 1100px;
    color: rgba(255, 255, 255, 1);
    width: 742px;
    height: auto;
    position: absolute;
    font-size: 23px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text34:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text34:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text39 {
    top: 180px;
    left: 126px;
    color: rgba(0, 0, 0, 1);
    width: 483px;
    height: auto;
    position: absolute;
    font-size: 50px;
    align-self: auto;
    font-style: Extra Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: underline;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-calculating1 {
    top: 300px;
    left: 360px;
    width: 200px;
    height: 200px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-calculating1:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-calculating1:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-robot1 {
    top: 700px;
    left: 360px;
    width: 200px;
    height: 200px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-robot1:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-robot1:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-application1 {
    top: 300px;
    left: 1160px;
    width: 200px;
    height: 200px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-application1:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-application1:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-minimalist-quote-poster6 {
    top: 0px;
    left: 192px;
    width: 142px;
    height: 109px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-minimalist-quote-poster6:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-minimalist-quote-poster6:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-minimalist-quote-poster7 {
    top: 31px;
    left: 334px;
    width: 226px;
    height: 68px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-minimalist-quote-poster7:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-minimalist-quote-poster7:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text41 {
    top: 55px;
    left: 788px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text41:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text41:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text43 {
    top: 41px;
    left: 1186px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text43:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text43:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text48 {
    top: 37px;
    left: 1631px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 30px;
    align-self: auto;
    font-style: Semi Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text48:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text48:active {
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-line15 {
    top: 127px;
    left: 700px;
    width: 328px;
    height: 0px;
    position: absolute;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-line16 {
    top: 141px;
    left: 1px;
    width: 1920px;
    height: 0px;
    position: absolute;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-evaluation2 {
    top: 33px;
    left: 1095px;
    width: 75px;
    height: 75px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-evaluation2:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-evaluation2:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-todolist2 {
    top: 34px;
    left: 704px;
    width: 75px;
    height: 75px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-todolist2:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-todolist2:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-input2 {
    top: 40px;
    left: 1532px;
    width: 75px;
    height: 75px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-input2:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-input2:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-rectangle8 {
    top: 259px;
    left: 113px;
    width: 635px;
    height: 379px;
    position: absolute;
    border-color: transparent;
    border-radius: 20px;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-data1 {
    top: 720px;
    left: 1175px;
    width: 200px;
    height: 200px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-data1:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-data1:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-teacher1 {
    top: 800px;
    left: 1630px;
    width: 250px;
    height: 250px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-teacher1:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-teacher1:active{
    cursor: pointer;
    transform: translateY(4px);
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-text53 {
    top: 1055px;
    left: 20px;
    color: rgba(0, 0, 0, 1);
    height: auto;
    position: absolute;
    font-size: 15px;
    align-self: auto;
    font-style: Bold;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    margin-right: 0;
    margin-bottom: 0;
    text-decoration: none;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-arrow1 {
    top: 15px;
    left: 30px;
    width: 150px;
    height: 109px;
    position: absolute;
    border-color: transparent;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-arrow1:hover {
    box-shadow: inset 100px 10 0 0 #54b3d6;
    color: black;
  }
  .jonas-angelo-clamor-view-collection-of-assessments-list-of-arrow1:active{
    cursor: pointer;
    transform: translateY(4px);
  }